<aside id="side">
    <nav>
        <ul id="menu">
            <div id="leftBar">
                <li><%= link_to "Strona główna", root_path %></li>
                <li><%= link_to "O autorze", home_about_path %></li>
            </div>
        </ul>
    </nav>
</aside>