$link-color: #DD3311;
$link-hover-color: #AA3311;

@import "bootstrap-sprockets";
@import "bootstrap";

*
{
    padding: 0;
    margin: 0;
}
img
{
    border: 0;
}
html, body
{
    background: #FFFFFF;
    color: #232323;
    height: 100%;
    width: 100%;
    margin: 0;
}
#wrapper
{
    margin: 0 auto;
    height: auto;
    margin-top: 20px;
}
#header
{
	height:auto;
	margin-bottom:20px;
}
#side
{
	height:auto;
	margin-bottom:20px;
}
#content
{
	height:auto;
	margin-bottom:20px;
}
#clear
{	
	clear:both;
}
#footer
{
	height:auto;
	background:#DD3232;
	margin-bottom:20px;
	text-align:center;
}
#menu
{
	list-style:none;
}
#menu li
{
	margin-bottom:1px;
}
#menu li a
{
	display:block;
	height:auto;
	background:#DD3311;
	padding:8px 0 8px 20px;
	color:#FFFFFF;
	text-decoration:none;
}
#menu li a:hover
{
	background:#AA3311;
}
#footer p
{
	padding:15px 0 15px 30px;
	color:#FFFFFF;
}

@media (min-width: 1071px) 
{
	#wrapper
	{
		width:1050px;
	}
	#header
	{
		width:1050px;
	}
	#side
	{
		width:250px;
		float:left;
	}
	#content
	{	
		width:750px;
		float:right;
	}
	#footer
	{	
		margin:0;
		width:1050px;
	}
	#header img
	{
		margin:0;
		width:1050px;
		height:auto;
	}
}
@media (max-width: 1070px) 
{
	#wrapper
	{
		width:930px;
	}
	#header
	{	
		width:930px;
	}
	#side
	{	
		width:240px;
		float:left;
	}
	#content
	{	
		width:665px;
		float:right;
	}
	#footer
	{	
		width:930px;
	}
	#header img
	{
		margin:0;
		width:930px;
		height:auto;
	}
}
@media (max-width: 970px) 
{
	#wrapper
	{
		width:730px;
	}
	#header
	{
		width:730px;
	}
	#side
	{
		width:180px;
		float:left;
	}
	#content
	{
		width:511px;
		float:right;
	}
	#footer
	{
		width:730px;
	}
	#header img
	{
		margin:0;
		width:730px;
		height:auto;
	}
}
@media (max-width: 750px) 
{
	#wrapper
	{	
		width:420px;
	}
	#header
	{	
		width:420px;
	}
	#side
	{
		width:420px;
	}
	#content
	{
		width:420px;
	}
	#footer
	{
		width:420px;
	}
	#header img
	{
		margin:0;
		width:420px;
		height:auto;
	}
}
@media (max-width: 470px) 
{
	#wrapper
	{
		width:300px;
	}
	#header
	{
		width:300px;
	}
	#side
	{
		width:300px;
	}
	#content
	{	
		width:300px;
	}
	#footer
	{
		width:300px;
	}
	#header img
	{
		margin:0;
		width:300px;
		height:auto;
	}
}